<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=camp.title%></title>
</head>
<body>
    <h1><%=camp.title%></h1>
    <h2>location:<%=camp.location%></h2>
    <a href="/campgrounds/<%=camp._id%>/edit">Edit</a>
    <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>
    <footer>
        <a href="/campgrounds">All campgrounds</a>
    </footer>
</body>
</html>